/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

input {
  font-size: 14px;
}

body {
  line-height: 1.4;
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
}

h1 {
  margin-bottom: 16px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #777;
}

input {
  border: 1px solid #eeeeee;
  padding: 12px;
  outline: none;
}

button {
  cursor: pointer;
  padding: 12px;
  background: #32cd32;
  border: none;
  color: white;
  font-size: 16px;
  transition: background 0.3s ease;
  border-radius: 10px;
}

@media screen and (max-width: 40em) {
  button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
}

button:hover {
  background: #208320;
}

button:disabled {
  cursor: default;
  background: #32cd32;
}

/* Join Page Styles */

.centered-form {
  background: #175e17;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-form__box {
  box-shadow: 0px 0px 17px 1px #1d1f26;
  background: #f7f7fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  width: 250px;
}

.centered-form button {
  width: 100%;
}

.centered-form input {
  margin-bottom: 16px;
  width: 100%;
}

/* Chat Page Layout */

.chat {
  display: flex;
  height: 100%;
}

.chat__sidebar {
  height: 100vh;
  color: white;
  background: #175e17;
  width: 225px;
  overflow-y: auto;
}

.side_bar_toggle {
  display: none;
}

@media screen and (max-width: 40em) {
  .chat__sidebar {
    width: 0;
    position: absolute;
    z-index: 2;
    transition: all 0.25s ease-out;
  }
  .side_bar_toggle_container {
    position: fixed;
    top: 10px;
    right: 10px;
  }

  .side_bar_toggle {
    display: flex;
    background: #a1e8a1;
    width: 30px;
    height: 22px;
    position: relative;
    align-self: flex-end;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  /* .side_bar_toggle #nav-icon1 {
   
  } */

  .side_bar_toggle span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #1d1f26;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  .side_bar_toggle span:nth-child(1) {
    top: 0px;
  }

  .side_bar_toggle span:nth-child(2) {
    top: 12px;
  }

  .side_bar_toggle span:nth-child(3) {
    top: 24px;
  }

  .side_bar_toggle.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .side_bar_toggle.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  .side_bar_toggle.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}

/* Chat styles */

.chat__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: #a1e8a1;
  height: 100%;
}

.chat__messages {
  flex-grow: 1;
  padding: 24px 24px 0 24px;
  overflow-y: scroll;
}

/* Message Styles */

.message {
  margin-bottom: 16px;
}

.message__name {
  font-weight: 600;
  font-size: 14px;
  margin-right: 8px;
}

.message__meta {
  color: #777;
  font-size: 14px;
}

.message a {
  color: #0070cc;
}

/* Message Composition Styles */

.compose {
  display: flex;
  flex-shrink: 0;
  margin-top: 16px;
  padding: 24px;
  margin-top: auto;
}

/* @media screen and (max-width: 40em) {
  .compose {
    margin-top: auto;
  }
} */

.compose form {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
}

.compose input {
  border: 1px solid #eeeeee;
  width: 100%;
  padding: 12px;
  margin: 0 16px 0 0;
  flex-grow: 1;
}

.compose button {
  font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
  font-weight: 400;
  font-size: 22px;
  background: #2c2f3a;
  padding: 24px;
}

.list-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 4px;
  padding: 12px 24px 0 24px;
}

.user-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-color: #eeeeee;
  border-bottom-style: solid;
}

.avatar {
  height: 40px;
  width: 30px;
  margin-left: 24px;
}

.name {
  list-style-type: none;
  font-weight: 300;
  padding: 12px 24px 0 24px;
}
